@import "../../Assets/Styles/themes.scss";

@font-face {
    font-family: somaliicon;
    src: url("https://at.alicdn.com/t/font_148784_v4ggb6wrjmkotj4i.eot");
    src: url("https://at.alicdn.com/t/font_148784_v4ggb6wrjmkotj4i.woff") format("woff"), url("https://at.alicdn.com/t/font_148784_v4ggb6wrjmkotj4i.ttf") format("truetype"),
        url("https://at.alicdn.com/t/font_148784_v4ggb6wrjmkotj4i.svg#iconfont") format("svg");
}

.ant_icon {
    display: inline-block;
    font-style: normal;
    vertical-align: baseline;
    text-align: center;
    text-transform: none;
    line-height: 1;
    text-rendering: optimizeLegibility;

    &:before {
        box-sizing: border-box;
        font-family: somaliicon !important;
    }
}

.ant_icon-question-circle,
.ant_icon-exclamation-circle {
    color: $--color-warning;
}
.ant_icon-info-circle {
    color: $--color-info;
}
.ant_icon-check-circle {
    color: $--color-success;
}
.ant_icon-cross-circle {
    color: $--color-error;
}

.ant_icon-step-forward:before {
    content: "\E600";
}

.ant_icon-step-backward:before {
    content: "\E601";
}

.ant_icon-forward:before {
    content: "\E602";
}

.ant_icon-backward:before {
    content: "\E603";
}

.ant_icon-caret-right:before {
    content: "\E604";
}

.ant_icon-caret-left:before {
    content: "\E605";
}

.ant_icon-caret-down:before {
    content: "\E606";
}

.ant_icon-caret-up:before {
    content: "\E607";
}

.ant_icon-caret-circle-right:before,
.ant_icon-circle-right:before,
.ant_icon-right-circle:before {
    content: "\E608";
}

.ant_icon-caret-circle-left:before,
.ant_icon-circle-left:before,
.ant_icon-left-circle:before {
    content: "\E609";
}

.ant_icon-caret-circle-up:before,
.ant_icon-circle-up:before,
.ant_icon-up-circle:before {
    content: "\E60A";
}

.ant_icon-caret-circle-down:before,
.ant_icon-circle-down:before,
.ant_icon-down-circle:before {
    content: "\E60B";
}

.ant_icon-right-circle-o:before {
    content: "\E60C";
}

.ant_icon-caret-circle-o-right:before,
.ant_icon-circle-o-right:before {
    content: "\E60C";
}

.ant_icon-left-circle-o:before {
    content: "\E60D";
}

.ant_icon-caret-circle-o-left:before,
.ant_icon-circle-o-left:before {
    content: "\E60D";
}

.ant_icon-up-circle-o:before {
    content: "\E60E";
}

.ant_icon-caret-circle-o-up:before,
.ant_icon-circle-o-up:before {
    content: "\E60E";
}

.ant_icon-down-circle-o:before {
    content: "\E60F";
}

.ant_icon-caret-circle-o-down:before,
.ant_icon-circle-o-down:before {
    content: "\E60F";
}

.ant_icon-verticle-left:before {
    content: "\E610";
}

.ant_icon-verticle-right:before {
    content: "\E611";
}

.ant_icon-rollback:before {
    content: "\E612";
}

.ant_icon-retweet:before {
    content: "\E613";
}

.ant_icon-shrink:before {
    content: "\E614";
}

.ant_icon-arrow-salt:before,
.ant_icon-arrows-alt:before {
    content: "\E615";
}

.ant_icon-reload:before {
    content: "\E616";
}

.ant_icon-double-right:before {
    content: "\E617";
}

.ant_icon-double-left:before {
    content: "\E618";
}

.ant_icon-arrow-down:before {
    content: "\E619";
}

.ant_icon-arrow-up:before {
    content: "\E61A";
}

.ant_icon-arrow-right:before {
    content: "\E61B";
}

.ant_icon-arrow-left:before {
    content: "\E61C";
}

.ant_icon-down:before {
    content: "\E61D";
}

.ant_icon-up:before {
    content: "\E61E";
}

.ant_icon-right:before {
    content: "\E61F";
}

.ant_icon-left:before {
    content: "\E620";
}

.ant_icon-minus-square-o:before {
    content: "\E621";
}

.ant_icon-minus-circle:before {
    content: "\E622";
}

.ant_icon-minus-circle-o:before {
    content: "\E623";
}

.ant_icon-minus:before {
    content: "\E624";
}

.ant_icon-plus-circle-o:before {
    content: "\E625";
}

.ant_icon-plus-circle:before {
    content: "\E626";
}

.ant_icon-plus:before {
    content: "\E627";
}

.ant_icon-info-circle:before {
    content: "\E628";
}

.ant_icon-info-circle-o:before {
    content: "\E629";
}

.ant_icon-info:before {
    content: "\E62A";
}

.ant_icon-exclamation:before {
    content: "\E62B";
}

.ant_icon-exclamation-circle:before {
    content: "\E62C";
}

.ant_icon-exclamation-circle-o:before {
    content: "\E62D";
}

.ant_icon-close-circle:before,
.ant_icon-cross-circle:before {
    content: "\E62E";
}

.ant_icon-close-circle-o:before,
.ant_icon-cross-circle-o:before {
    content: "\E62F";
}

.ant_icon-check-circle:before {
    content: "\E630";
}

.ant_icon-check-circle-o:before {
    content: "\E631";
}

.ant_icon-check:before {
    content: "\E632";
}

.ant_icon-close:before,
.ant_icon-cross:before {
    content: "\E633";
}

.ant_icon-customer-service:before,
.ant_icon-customerservice:before {
    content: "\E634";
}

.ant_icon-credit-card:before {
    content: "\E635";
}

.ant_icon-code-o:before {
    content: "\E636";
}

.ant_icon-book:before {
    content: "\E637";
}

.ant_icon-bars:before {
    content: "\E639";
}

.ant_icon-question:before {
    content: "\E63A";
}

.ant_icon-question-circle:before {
    content: "\E63B";
}

.ant_icon-question-circle-o:before {
    content: "\E63C";
}

.ant_icon-pause:before {
    content: "\E63D";
}

.ant_icon-pause-circle:before {
    content: "\E63E";
}

.ant_icon-pause-circle-o:before {
    content: "\E63F";
}

.ant_icon-clock-circle:before {
    content: "\E640";
}

.ant_icon-clock-circle-o:before {
    content: "\E641";
}

.ant_icon-swap:before {
    content: "\E642";
}

.ant_icon-swap-left:before {
    content: "\E643";
}

.ant_icon-swap-right:before {
    content: "\E644";
}

.ant_icon-plus-square-o:before {
    content: "\E645";
}

.ant_icon-frown-circle:before,
.ant_icon-frown:before {
    content: "\E646";
}

.ant_icon-ellipsis:before {
    content: "\E647";
}

.ant_icon-copy:before {
    content: "\E648";
}

.ant_icon-menu-fold:before {
    content: "\E9AC";
}

.ant_icon-mail:before {
    content: "\E659";
}

.ant_icon-logout:before {
    content: "\E65A";
}

.ant_icon-link:before {
    content: "\E65B";
}

.ant_icon-area-chart:before {
    content: "\E65C";
}

.ant_icon-line-chart:before {
    content: "\E65D";
}

.ant_icon-home:before {
    content: "\E65E";
}

.ant_icon-laptop:before {
    content: "\E65F";
}

.ant_icon-star:before {
    content: "\E660";
}

.ant_icon-star-o:before {
    content: "\E661";
}

.ant_icon-folder:before {
    content: "\E662";
}

.ant_icon-filter:before {
    content: "\E663";
}

.ant_icon-file:before {
    content: "\E664";
}

.ant_icon-exception:before {
    content: "\E665";
}

.ant_icon-meh-circle:before,
.ant_icon-meh:before {
    content: "\E666";
}

.ant_icon-meh-o:before {
    content: "\E667";
}

.ant_icon-shopping-cart:before {
    content: "\E668";
}

.ant_icon-save:before {
    content: "\E669";
}

.ant_icon-user:before {
    content: "\E66A";
}

.ant_icon-video-camera:before {
    content: "\E66B";
}

.ant_icon-to-top:before {
    content: "\E66C";
}

.ant_icon-team:before {
    content: "\E66D";
}

.ant_icon-tablet:before {
    content: "\E66E";
}

.ant_icon-solution:before {
    content: "\E66F";
}

.ant_icon-search:before {
    content: "\E670";
}

.ant_icon-share-alt:before {
    content: "\E671";
}

.ant_icon-setting:before {
    content: "\E672";
}

.ant_icon-poweroff:before {
    content: "\E6D5";
}

.ant_icon-picture:before {
    content: "\E674";
}

.ant_icon-phone:before {
    content: "\E675";
}

.ant_icon-paper-clip:before {
    content: "\E676";
}

.ant_icon-notification:before {
    content: "\E677";
}

.ant_icon-mobile:before {
    content: "\E678";
}

.ant_icon-menu-unfold:before {
    content: "\E9AD";
}

.ant_icon-inbox:before {
    content: "\E67A";
}

.ant_icon-lock:before {
    content: "\E67B";
}

.ant_icon-qrcode:before {
    content: "\E67C";
}

.ant_icon-play-circle:before {
    content: "\E6D0";
}

.ant_icon-play-circle-o:before {
    content: "\E6D1";
}

.ant_icon-tag:before {
    content: "\E6D2";
}

.ant_icon-tag-o:before {
    content: "\E6D3";
}

.ant_icon-tags:before {
    content: "\E67D";
}

.ant_icon-tags-o:before {
    content: "\E67E";
}

.ant_icon-cloud-o:before {
    content: "\E67F";
}

.ant_icon-cloud:before {
    content: "\E680";
}

.ant_icon-cloud-upload:before {
    content: "\E681";
}

.ant_icon-cloud-download:before {
    content: "\E682";
}

.ant_icon-cloud-download-o:before {
    content: "\E683";
}

.ant_icon-cloud-upload-o:before {
    content: "\E684";
}

.ant_icon-environment:before {
    content: "\E685";
}

.ant_icon-environment-o:before {
    content: "\E686";
}

.ant_icon-eye:before {
    content: "\E687";
}

.ant_icon-eye-o:before {
    content: "\E688";
}

.ant_icon-camera:before {
    content: "\E689";
}

.ant_icon-camera-o:before {
    content: "\E68A";
}

.ant_icon-windows:before {
    content: "\E68B";
}

.ant_icon-apple:before {
    content: "\E68C";
}

.ant_icon-apple-o:before {
    content: "\E6D4";
}

.ant_icon-android:before {
    content: "\E938";
}

.ant_icon-android-o:before {
    content: "\E68D";
}

.ant_icon-aliwangwang:before {
    content: "\E68E";
}

.ant_icon-aliwangwang-o:before {
    content: "\E68F";
}

.ant_icon-export:before {
    content: "\E691";
}

.ant_icon-edit:before {
    content: "\E692";
}

.ant_icon-appstore-o:before {
    content: "\E695";
}

.ant_icon-appstore:before {
    content: "\E696";
}

.ant_icon-scan:before {
    content: "\E697";
}

.ant_icon-file-text:before {
    content: "\E698";
}

.ant_icon-folder-open:before {
    content: "\E699";
}

.ant_icon-hdd:before {
    content: "\E69A";
}

.ant_icon-ie:before {
    content: "\E69B";
}

.ant_icon-file-jpg:before {
    content: "\E69C";
}

.ant_icon-like:before {
    content: "\E64C";
}

.ant_icon-like-o:before {
    content: "\E69D";
}

.ant_icon-dislike:before {
    content: "\E64B";
}

.ant_icon-dislike-o:before {
    content: "\E69E";
}

.ant_icon-delete:before {
    content: "\E69F";
}

.ant_icon-enter:before {
    content: "\E6A0";
}

.ant_icon-pushpin-o:before {
    content: "\E6A1";
}

.ant_icon-pushpin:before {
    content: "\E6A2";
}

.ant_icon-heart:before {
    content: "\E6A3";
}

.ant_icon-heart-o:before {
    content: "\E6A4";
}

.ant_icon-pay-circle:before {
    content: "\E6A5";
}

.ant_icon-pay-circle-o:before {
    content: "\E6A6";
}

.ant_icon-smile-circle:before,
.ant_icon-smile:before {
    content: "\E6A7";
}

.ant_icon-smile-o:before {
    content: "\E6A8";
}

.ant_icon-frown-o:before {
    content: "\E6A9";
}

.ant_icon-calculator:before {
    content: "\E6AA";
}

.ant_icon-message:before {
    content: "\E6AB";
}

.ant_icon-chrome:before {
    content: "\E6AC";
}

.ant_icon-github:before {
    content: "\E6AD";
}

.ant_icon-file-unknown:before {
    content: "\E6AF";
}

.ant_icon-file-excel:before {
    content: "\E6B0";
}

.ant_icon-file-ppt:before {
    content: "\E6B1";
}

.ant_icon-file-word:before {
    content: "\E6B2";
}

.ant_icon-file-pdf:before {
    content: "\E6B3";
}

.ant_icon-desktop:before {
    content: "\E6B4";
}

.ant_icon-upload:before {
    content: "\E6B6";
}

.ant_icon-download:before {
    content: "\E6B7";
}

.ant_icon-pie-chart:before {
    content: "\E6B8";
}

.ant_icon-unlock:before {
    content: "\E6BA";
}

.ant_icon-calendar:before {
    content: "\E6BB";
}

.ant_icon-windows-o:before {
    content: "\E6BC";
}

.ant_icon-dot-chart:before {
    content: "\E6BD";
}

.ant_icon-bar-chart:before {
    content: "\E6BE";
}

.ant_icon-code:before {
    content: "\E6BF";
}

.ant_icon-api:before {
    content: "\E951";
}

.ant_icon-plus-square:before {
    content: "\E6C0";
}

.ant_icon-minus-square:before {
    content: "\E6C1";
}

.ant_icon-close-square:before {
    content: "\E6C2";
}

.ant_icon-close-square-o:before {
    content: "\E6C3";
}

.ant_icon-check-square:before {
    content: "\E6C4";
}

.ant_icon-check-square-o:before {
    content: "\E6C5";
}

.ant_icon-fast-backward:before {
    content: "\E6C6";
}

.ant_icon-fast-forward:before {
    content: "\E6C7";
}

.ant_icon-up-square:before {
    content: "\E6C8";
}

.ant_icon-down-square:before {
    content: "\E6C9";
}

.ant_icon-left-square:before {
    content: "\E6CA";
}

.ant_icon-right-square:before {
    content: "\E6CB";
}

.ant_icon-right-square-o:before {
    content: "\E6CC";
}

.ant_icon-left-square-o:before {
    content: "\E6CD";
}

.ant_icon-down-square-o:before {
    content: "\E6CE";
}

.ant_icon-up-square-o:before {
    content: "\E6CF";
}

.ant_icon-loading:before {
    content: "\E64D";
}

.ant_icon-loading-3-quarters:before {
    content: "\E6AE";
}

.ant_icon-bulb:before {
    content: "\E649";
}

.ant_icon-select:before {
    content: "\E64A";
}

.ant_icon-addfile:before,
.ant_icon-file-add:before {
    content: "\E910";
}

.ant_icon-addfolder:before,
.ant_icon-folder-add:before {
    content: "\E914";
}

.ant_icon-switcher:before {
    content: "\E913";
}

.ant_icon-rocket:before {
    content: "\E90F";
}

.ant_icon-dingding:before {
    content: "\E923";
}

.ant_icon-dingding-o:before {
    content: "\E925";
}

.ant_icon-bell:before {
    content: "\E64E";
}

.ant_icon-disconnect:before {
    content: "\E64F";
}

.ant_icon-database:before {
    content: "\E650";
}

.ant_icon-compass:before {
    content: "\E6DB";
}

.ant_icon-barcode:before {
    content: "\E652";
}

.ant_icon-hourglass:before {
    content: "\E653";
}

.ant_icon-key:before {
    content: "\E654";
}

.ant_icon-flag:before {
    content: "\E655";
}

.ant_icon-layout:before {
    content: "\E656";
}

.ant_icon-login:before {
    content: "\E657";
}

.ant_icon-printer:before {
    content: "\E673";
}

.ant_icon-sound:before {
    content: "\E6E9";
}

.ant_icon-usb:before {
    content: "\E6D7";
}

.ant_icon-skin:before {
    content: "\E6D8";
}

.ant_icon-tool:before {
    content: "\E6D9";
}

.ant_icon-sync:before {
    content: "\E6DA";
}

.ant_icon-wifi:before {
    content: "\E6D6";
}

.ant_icon-car:before {
    content: "\E6DC";
}

.ant_icon-copyright:before {
    content: "\E6DE";
}

.ant_icon-schedule:before {
    content: "\E6DF";
}

.ant_icon-user-add:before {
    content: "\E6ED";
}

.ant_icon-user-delete:before {
    content: "\E6E0";
}

.ant_icon-usergroup-add:before {
    content: "\E6DD";
}

.ant_icon-usergroup-delete:before {
    content: "\E6E1";
}

.ant_icon-man:before {
    content: "\E6E2";
}

.ant_icon-woman:before {
    content: "\E6EC";
}

.ant_icon-shop:before {
    content: "\E6E3";
}

.ant_icon-gift:before {
    content: "\E6E4";
}

.ant_icon-idcard:before {
    content: "\E6E5";
}

.ant_icon-medicine-box:before {
    content: "\E6E6";
}

.ant_icon-red-envelope:before {
    content: "\E6E7";
}

.ant_icon-coffee:before {
    content: "\E6E8";
}

.ant_icon-trademark:before {
    content: "\E651";
}

.ant_icon-safety:before {
    content: "\E6EA";
}

.ant_icon-wallet:before {
    content: "\E6EB";
}

.ant_icon-bank:before {
    content: "\E6EE";
}

.ant_icon-trophy:before {
    content: "\E6EF";
}

.ant_icon-contacts:before {
    content: "\E6F0";
}

.ant_icon-global:before {
    content: "\E6F1";
}

.ant_icon-shake:before {
    content: "\E94F";
}

.ant_icon-fork:before {
    content: "\E6F2";
}

.ant_icon-dashboard:before {
    content: "\E99A";
}

.ant_icon-profile:before {
    content: "\E999";
}

.ant_icon-table:before {
    content: "\E998";
}

.ant_icon-warning:before {
    content: "\E997";
}

.ant_icon-form:before {
    content: "\E996";
}

.ant_icon-spin:before {
    display: inline-block;
    -webkit-animation: loadingCircle 1s infinite linear;
    animation: loadingCircle 1s infinite linear;
}

@keyframes loadingCircle {
    0% {
        transform-origin: 50% 50%;
        transform: rotate(0deg);
    }

    to {
        transform-origin: 50% 50%;
        transform: rotate(1turn);
    }
}

.ant_icon-weibo-square:before {
    content: "\E6F5";
}

.ant_icon-weibo-circle:before {
    content: "\E6F4";
}

.ant_icon-taobao-circle:before {
    content: "\E6F3";
}

.ant_icon-html5:before {
    content: "\E9C7";
}

.ant_icon-weibo:before {
    content: "\E9C6";
}

.ant_icon-twitter:before {
    content: "\E9C5";
}

.ant_icon-wechat:before {
    content: "\E9C4";
}

.ant_icon-youtube:before {
    content: "\E9C3";
}

.ant_icon-alipay-circle:before {
    content: "\E9C2";
}

.ant_icon-taobao:before {
    content: "\E9C1";
}

.ant_icon-skype:before {
    content: "\E9C0";
}

.ant_icon-qq:before {
    content: "\E9BF";
}

.ant_icon-medium-workmark:before {
    content: "\E9BE";
}

.ant_icon-gitlab:before {
    content: "\E9BD";
}

.ant_icon-medium:before {
    content: "\E9BC";
}

.ant_icon-linkedin:before {
    content: "\E9BB";
}

.ant_icon-google-plus:before {
    content: "\E9BA";
}

.ant_icon-dropbox:before {
    content: "\E9B9";
}

.ant_icon-facebook:before {
    content: "\E9B8";
}

.ant_icon-codepen:before {
    content: "\E9B7";
}

.ant_icon-amazon:before {
    content: "\E9B6";
}

.ant_icon-google:before {
    content: "\E9B5";
}

.ant_icon-codepen-circle:before {
    content: "\E9B4";
}

.ant_icon-alipay:before {
    content: "\E9B3";
}

.ant_icon-ant-design:before {
    content: "\E9B2";
}

.ant_icon-aliyun:before {
    content: "\E9F4";
}

.ant_icon-zhihu:before {
    content: "\E703";
}

.ant_icon-file-markdown:before {
    content: "\E704";
}

.ant_icon-slack:before {
    content: "\E705";
}

.ant_icon-slack-square:before {
    content: "\E706";
}

.ant_icon-behance:before {
    content: "\E707";
}

.ant_icon-behance-square:before {
    content: "\E708";
}

.ant_icon-dribbble:before {
    content: "\E709";
}

.ant_icon-dribbble-square:before {
    content: "\E70A";
}

.ant_icon-instagram:before {
    content: "\E70B";
}

.ant_icon-yuque:before {
    content: "\E70C";
}
