@import "./themes.scss";

.highligh-input {
    &.xy-input,
    &.xy-inputnumber-input {
        animation-duration: 2s;
        animation-name: flashBourder;
    }

    .xy-input,
    .xy-inputnumber-input {
        animation-duration: 2s;
        animation-name: flashBourder;
        // animation-timing-function: cubic-bezier(0.05, 0.55, 0.36, 1);
    }
}

@keyframes flashBourder {
    from {
        border: 1px solid #ff4949;
        box-shadow: 0 0 0 0px #ff4949;
    }

    25% {
        border: 1px solid #ff4949;
        box-shadow: 0 0 0 4px #ff494973;
    }

    50% {
        border: 1px solid #ff4949;
        box-shadow: 0 0 0 0px #ff4949;
    }

    75% {
        border: 1px solid #ff4949;
        box-shadow: 0 0 0 4px #ff494973;
    }

    to {
        border: 1px solid #ff4949;
        box-shadow: 0 0 0 0px #ff4949;
    }
}
